# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --------------------
# Virtual environments
# --------------------
.venv/
venv/
env/

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# IDEs
# --------------------
.idea/
.vscode/

# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# Docker / runtime
# --------------------
pgdata/
