services:
  api:
    build: .
    container_name: ecommerce_api
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    command: poetry run uvicorn ecommerceapi.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:16
    container_name: ecommerce_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/db/init:/docker-entrypoint-initdb.d
      - ./docker/db/dump:/dumps

  adminer:
    image: adminer
    container_name: ecommerce_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  pgdata:
