services:
  api:
    build: .
    container_name: ecommerce_api
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
    volumes:
      - .:/app
    command: poetry run uvicorn ecommerceapi.main:app --host 0.0.0.0 --port 8000 --reload

  worker:
    build: .
    container_name: ecommerce_worker
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    depends_on:
      - db
      - rabbitmq
    volumes:
      - .:/app
    command: poetry run celery -A ecommerceapi.core.celery.celery_app worker --loglevel=INFO

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ecommerce_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

  db:
    image: postgres:16
    container_name: ecommerce_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/db/dump:/dumps

  adminer:
    image: adminer
    container_name: ecommerce_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  pgdata:
